@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
* {
  margin: 0;
}
header {
  background-color: white;
  position: sticky;
  margin: 0% 0% 5% 0%;
  top: 0 px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header > * {
  display: inline-block;
  width: 100px;
}
#logo {
  color: black;
  font-size: 32px;
  margin: 10px;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}
header > img {
  border-radius: 15px;
  margin: 10px 10px 10px 35px;
  width: 50px;
  height: 50px;
}
.otstyp {
  margin: 40px;
  font-weight: 100;
  font-size: 64;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}
#zag {
  font-weight: 1000;
}
.verx {
  padding: 0% 3%;
  color: black;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}
.podzag {
  color: #4E6BA4;
}
#tabl {
  width: auto;
  height: auto;
  margin: 0px 0px 30px 150px;
}
.tipu {
  color: #4E6BA4;
}
body {
  background-color: #6A92D4;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
main {
  margin: 50px 5%;
  background-color: #FDFDFF;
  border: 3px #4E6BA4 solid;
  border-radius: 20px;
  padding: 50px;
  min-height: calc(100vh - 92px - 80px - 100px);
}
article {
  background-color: white;
  border-radius: 20px;
}
